@font-face {
    font-family: "custom";
    src: url(./ImpactStone.otf);}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body{
    color: rgb(0, 0, 0);
    font-size: 1.7rem;
    font-family: "custom", sans-serif;
    background-color: rgb(211, 211, 211);
    /*background-image: url("../asset/alpesAsset.jpg");*/}

header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    color: rgb(232, 235, 72);
    background-color: rgb(72, 61, 139);
    height: 20vh;

    position: fixed;
    width: 100vw;

    z-index: 1;}

h1, h2{
    width: fit-content;}

#logo{
    height: 100%;
    float: left;}

#titre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin-right: 20%;}

main{
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    top: 20vh;
}

article {
width: 60%; background-color: rgba(255, 255, 255, 0.361);
padding: 15px;
box-shadow: rgb(0, 0, 0) 40px 25px 90px 0px;
border-radius: 20px;
margin: 70px;}

ul{
    margin-left: 30px;}

#entre-terre{
    aspect-ratio: 1904/640;
    width: 100vw;
    background-image: url('../asset/library.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: 16vh;

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;}
#entre-terre>h2{
    font-size: 5rem;
    padding-right: 5vw;
    color: rgb(211, 211, 211);}

nav{
    width: 25vh;
    height: 38vw;   
    background-color: rgb(72, 61, 139);
    margin-top: 12.1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: -25vh; /*si données du left pas mm unités => calc(-width - margin-left) pour faire le calcul automatiquement*/
    z-index: 1;
    transition: left 0.2s;
}

.bouton{
    display: block;
    text-decoration: none;
    width: 80%;
    height: 5vh;    /*aspect-ratio: ;*/
    background-color: rgb(211, 211, 211);
    color: rgb(72, 61, 139);
    text-align: center;
    padding-top: 7px;
    border-radius: 2.5vh;
    /*background-color: rgb(72, 61, 139);
    color: rgb(211, 211, 211);
    box-shadow: rgb(211, 211, 211) 2px 2px 5px 0;
    transition: border-shadow 500ms*/
    transition: background-color 1000ms, color 500ms, border 2000ms;}

.bouton:hover{
    background-color: rgb(72, 61, 139);
    color: rgb(211, 211, 211);
    border: rgb(211, 211, 211) 1px solid; }

#trigger {
    position : fixed;
    top: 25vh;
    width: 5vh;
    aspect-ratio: 1;
    /*background-color: rgb(72, 61, 139);*/
    /*border: solid;
    border-radius: 0, 10px, 10px, 0;*/
    background-image: url(../asset/menu2.png);
    background-repeat: no-repeat;
    background-size: cover;
    left: 4px;
    /*transition: left 1s;*/
}

#close{
    display: none;
    position: relative;
    top: 2vh;
    right: 2vh;

    width: 5vh;
    aspect-ratio: 1;
    background-image: url(../asset/marque-de-croix.png);
    background-repeat: no-repeat;
    background-size: cover;
}